// dark theme color variable
$black: #ffffff;
$WHITEFORALL: #ffffff;
$white: #141414;
$light-gray: #1e1e1e;
$light-green: #38463b;
$primary: #ffffff;
$secondary: #b6cbba;
$paragraph-color: #d4d4d5;
$border-color: #3a3a3a;
$card-border-radius: 10px;
$box-shadow: 1.1px 1.1px 10px rgba(255, 255, 255, 0.035),
  100px 100px 80px rgba(255, 255, 255, 0.07);
